*{
    margin:0;
    padding: 0;
}

.container{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    overflow: hidden
}

.line{
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #393e46
}

ul{
    position: absolute;
    z-index: 999;
    list-style: none;
    right:30px
}

ul li{
    display: inline-block;
    margin: 15px;
}

ul li a{
    text-decoration: none;
    color:#32e0c4;
    font-family: sans-serif;
    font-size: 20px;
}

.text{
    position: absolute;
    z-index: 999;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
}

.text h1{
    color: #eeeeee;
    font-size: 40px
}

.line1{
    z-index:15;
    opacity: .5
}

.line2{
    z-index:10;
    opacity: .7
}


.line3{
    z-index:5;
    opacity: .9
}


.wave{
    position:absolute;
    left:0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}


.wave1{
    background-size:50% 80px;
}

.wave2{
    background-size:50% 100px;
    animation:animate 12s linear infinite;
}  

.wave3{
    background-size:50% 80px;
    animation:animate 18s linear infinite;

}


@keyframes animate {
    0%{
        transform: translateX(0) translateZ(0) scaleY(1)
    }
   50%{
        transform: translateX(-25%) translateZ(0) scaleY(.5)
    }
    100%{
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    
}







